<!--Loading-->
<div class="row col-md-12 mb-5">
  <div class="col md-5">
  </div>
  <div class="col md-7">
      <span *ngIf="loadPaiements === true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </div>
</div>
<!--Loading-->
<div class="row" *ngIf="loadPaiements === false">
  <div class="col-sm-12">
    <!-- Tooltip Validation card start -->
    <app-card [title]="'Enregistrement des paiements'" [headerContent]="'Formulaire d\'enregistrement des paiements'">
      <form [formGroup]="paiementForm" (ngSubmit)="submitAction()">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Matricule :</strong></label>
          <div class="col-sm-10">
            <input type="text" class="form-control tooltip-form" id="matricule" formControlName="matricule" name="matricule" placeholder="Entrez le matricule" (input)="matricule.value.length > 5 && onMatriculeChange()">
            <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Le matricule ne peut être vide." *ngIf="paiementForm.controls.matricule.errors?.required"><i class="text-danger icofont icofont-close-circled"></i></div>
          </div>
        </div>
        <div class="form-group row" *ngIf="nomEtudiant && nomEtudiant != null && nomEtudiant != '' ">
          <label class="col-sm-2 col-form-label"><strong>Nom :</strong></label>
          <div class="col-sm-10">
            <input type="text" class="form-control tooltip-form" id="nomEtud" formControlName="nomEtud" name="nomEtud" value="{{nomEtudiant}}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Banque:</strong></label>
          <div class="col-sm-10">
            <select formControlName="bankPaiement" name="bankPaiement" id="bankPaiement" class="form-control form-control" *ngIf="allBanques && allBanques.length > 0 " (change)="onBanqueSelect($event)">
              <option value="" selected>Sélectionner une banque</option>
              <option *ngFor="let banque of allBanques" value="{{banque.idbanque}}">{{banque.codebanque}} - {{banque.nom}}</option>
            </select>
            <!-- <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [(ngModel)]="selectedOption" formControlName="bankPaiement" name="bankPaiement" id="bankPaiement" *ngIf="allBanques && allBanques.length > 0 " (ngModelChange)="onBanqueSelect()"> </ng-select> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Numero de paiement :</strong></label>
          <div class="col-sm-10">
              <input type="text" class="form-control tooltip-form" id="numeroPaiement" formControlName="numeroPaiement" name="numeroPaiement" placeholder="Entrez le numero de paiement">
              <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Le numero de paiement ne peut être vide." *ngIf="paiementForm.controls.numeroPaiement.errors?.required"><i class="text-danger icofont
                                  icofont-close-circled"></i>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Montant :</strong></label>
          <div class="col-sm-10">
              <input type="text" class="form-control tooltip-form" id="montantPaiement" formControlName="montantPaiement" name="montantPaiement" placeholder="Entrez le montant de paiement">
              <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Le montant de paiement ne peut être vide." *ngIf="paiementForm.controls.montantPaiement.errors?.required"><i class="text-danger icofont
                                  icofont-close-circled"></i>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Observation :</strong></label>
          <div class="col-sm-10">
            <select formControlName="observationPaiement" name="observationPaiement" id="observationPaiement" class="form-control form-control" *ngIf="observations && observations.length > 0 " (change)="onObservationSelect($event)">
              <option value="" selected>Sélectionner une tranche</option>
              <option *ngFor="let observation of observations" value="{{observation.id}}">{{observation.label}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Date :</strong></label>
          <div class="col-sm-10">
              <input type="date" readonly class="form-control tooltip-form" id="datePaiement" formControlName="datePaiement" name="datePaiement" placeholder="Entrez la date de paiement" (change)="onDateSelect($event)">
              <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="La date de paiement ne peut être vide." *ngIf="paiementForm.controls.datePaiement.errors?.required"><i class="text-danger icofont
                                  icofont-close-circled"></i>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Année :</strong></label>
          <div class="col-sm-10">
              <input type="month" class="form-control tooltip-form" id="anneePaiement" formControlName="anneePaiement" name="anneePaiement" placeholder="Entrez l'année de paiement">
              <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="L'année de paiement ne peut être vide." *ngIf="paiementForm.controls.anneePaiement.errors?.required"><i class="text-danger icofont
                                  icofont-close-circled"></i>
              </div>
          </div>
        </div>
        <div class="row col-sm-12">
          <div [ngClass]="showCancelBtn === true?'col-sm-5':'col-sm-6'"></div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-outline-primary btn-sm waves-effect f-w-600 d-inline-block m-b-0" [disabled]="!paiementForm.valid || !nomEtudiant || nomEtudiant == '' ">
              <span *ngIf="createLoad === true"
                  class="spinner-border spinner-border-sm ml-2"
                  role="status" aria-hidden="true">
              </span>
              <span *ngIf="updateLoad === true" class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true"></span>
              {{buttonAction}}
            </button>
            <button *ngIf="showCancelBtn === true || paiementForm.dirty" type="reset" class="btn btn-outline-danger btn-sm waves-effect f-w-600 d-inline-block m-b-0 ml-2" (click)="reset()">Annuler</button>
          </div>
        </div>
      </form>
    </app-card>
    <!-- Tooltip Validation card end -->

    <!-- All paiements Start-->
    <app-card [title]="'Toutes les paiements'" [headerContent]="'Classes enregistrées'">
      <div class="dt-responsive" *ngIf="paiements">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                  <div>
                      <label class="label-control">Afficher
                          <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                              <option [ngValue]="10">10</option>
                              <option [ngValue]="25">25</option>
                              <option [ngValue]="50">50</option>
                              <option [ngValue]="100">100</option>
                          </select>
                          entrées
                      </label>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                  <div style="text-align: right;">
                      <label>Rechercher:
                          <input type="search" [(ngModel)]="searchText"
                              class="form-control input-sm full-data-search" placeholder="Rechercher ici">
                      </label>
                  </div>
              </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered full-data-table" [mfData]="paiements | filter:searchText" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th>
                      <mfDefaultSorter>Action</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter>Matriucle</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter>Banque</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter>N° paiement</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter>Montant</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter>Observation</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter>Date</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter>Annee</mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="!isEmpty && totalRecords > 0">
                  <tr *ngFor="let item of paiements | filter:searchText">
                      <td class="action-icon">
                          <a href="javascript:;" class="m-r-15 crm-action-edit text-muted text-primary" (click)="fillFormBeforUpdating(item)"><i
                              class="icofont icofont-ui-edit"></i>
                          </a>
                          <a href="javascript:;" class="crm-action-delete text-muted text-danger" (click)="deletePaiement(item)"><i
                              class="icofont icofont-delete-alt"></i>
                          </a>
                      </td>
                      <td>{{item?.matricule}}</td>
                      <ng-container *ngFor="let bank of allBanques">
                          <td *ngIf="bank.idbanque === item.idbanque">{{bank?.codebanque}} - {{bank?.nom}}</td>
                      </ng-container>
                      <td>{{item?.numero}}</td>
                      <td>{{item?.montant}}</td>
                      <td>{{item?.observation}}</td>
                      <td>{{item?.datepaiement | date: 'dd/MM/yyyy' }}</td>
                      <td>{{item?.annee}}</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="isEmpty">
                  <tr>
                    <td colspan="8">
                      <div class="card text-center mt-3">
                        <p class="mt-5 mb-2 text-danger">Aucun enregistrement !</p><br>
                        <p class="mb-5">
                          <button type="button" class="btn btn-outline-secondary btn-sm waves-effect f-w-600 d-inline-block">
                            <i class="fa fa-refresh m-r-5"></i>rafraichir
                          </button>
                        </p>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
              <tfoot>
                  <tr>
                      <td colspan="8">
                          <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                      </td>
                  </tr>
              </tfoot>
            </table>
          </div>
      </div>
    </app-card>
    <!-- All paiements End -->
  </div>
</div>
