<!--Loading-->
<div class="row col-md-12 mb-5">
  <div class="col md-5">
  </div>
  <div class="col md-7">
        <span *ngIf="loadDepartement === true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </div>
</div>
  <!--Loading-->
<div class="row" *ngIf="loadDepartement === false">
  <div class="col-sm-12">
    <!-- Tooltip Validation card start -->
    <app-card [title]="'Enregistrement des départements'" [headerContent]="'Formulaire d\'enregistrement des départements'">
      <form [formGroup]="departementForm" (ngSubmit)="submitAction()">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Pays:</strong></label>
          <div class="col-sm-10">
              <select formControlName="pays" name="pays" id="pays" class="form-control form-control" *ngIf="allPays && allPays.length > 0 " (change)="onPaysSelect($event)">
                  <option value="">Sélectionner un pays</option>
                  <option *ngFor="let pay of allPays" value="{{pay.idpays}}">{{pay.codepays}} - {{pay.nom}}</option>
              </select>
              <select formControlName="pays" name="pays" id="pays" class="form-control form-control" *ngIf="!allPays || allPays.length === 0 ">
                <option value="">Sélectionner un pays</option>
                <option class="text-danger" disabled>Aucun enregistrement !</option>
              </select>
          </div>
          <!-- <div class="col-sm-10">
              <ng-select [ngClass]="'ng-select'" [options]="simpleOptionPays" [(ngModel)]="selectedOptionPays" formControlName="pays" name="pays" id="pays" *ngIf="allPays && allPays.length > 0 " (ngModelChange)="onPaysSelect()"> </ng-select>
          </div> -->
        </div>
        <!-- <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Région :</strong></label>
          <div class="col-sm-10">
            <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [(ngModel)]="selectedOption" formControlName="idRegion" name="idRegion" id="idRegion" *ngIf="regions && regions.length > 0 " (ngModelChange)="onRegionSelect()"> </ng-select>
          </div>
        </div> -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Région :</strong></label>
          <div class="col-sm-10" *ngIf="regionsFiltered.length === 0 && zeroResultatRegion === '' ">
            <select formControlName="idRegion" name="idRegion" id="idRegion" class="form-control form-control" *ngIf="regions && regions.length > 0 " (change)="onRegionSelect($event)">
              <option value="" selected>Sélectionner une région</option>
              <option *ngFor="let region of regions" value="{{region.idregion}}">{{region.coderegion}} - {{region.nom}}</option>
            </select>
            <select formControlName="idRegion" name="idRegion" id="idRegion" class="form-control form-control" *ngIf="!regions || regions.length === 0 ">
              <option class="text-danger" disabled>Aucun enregistrement !</option>
            </select>
          </div>
          <div class="col-sm-10" *ngIf="regionsFiltered && regionsFiltered.length > 0">
            <select formControlName="idRegion" name="idRegion" id="idRegion" class="form-control form-control" *ngIf="regionsFiltered && regionsFiltered.length > 0 " (change)="onRegionSelect($event)">
              <option value="" selected>Sélectionner une région</option>
              <option *ngFor="let region of regionsFiltered" value="{{region.idregion}}">{{region.coderegion}} - {{region.nom}}</option>
            </select>
          </div>
          <div class="col-sm-10" *ngIf="zeroResultatRegion === 'rien' ">
            <select formControlName="idRegion" name="idRegion" id="idRegion" class="form-control form-control">
              <option value="" selected>Sélectionner une région</option>
              <option value="" disabled class="text-danger">rien à afficher</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Code :</strong></label>
          <div class="col-sm-10">
            <input type="text" class="form-control tooltip-form" id="codeDepartement" formControlName="codeDepartement" name="codeDepartement" placeholder="Entrez le code du département">
            <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Le code du département ne peut être vide." *ngIf="departementForm.controls.codeDepartement.errors?.required"><i class="text-danger icofont
              icofont-close-circled"></i>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Nom :</strong></label>
          <div class="col-sm-10">
            <input type="text" class="form-control tooltip-form" id="nomDepartement" formControlName="nomDepartement" name="nomDepartement" placeholder="Entrez le nom du département">
            <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Le nom du département ne peut être vide." *ngIf="departementForm.controls.nomDepartement.errors?.required"><i class="text-danger icofont
              icofont-close-circled"></i>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><strong>Nom en anglais :</strong></label>
          <div class="col-sm-10">
            <input type="text" class="form-control tooltip-form" id="nameDepartement" formControlName="nameDepartement" name="nameDepartement" placeholder="Entrez le name du département">
            <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Le name du département ne peut être vide." *ngIf="departementForm.controls.nameDepartement.errors?.required"><i class="text-danger icofont icofont-close-circled"></i></div>
          </div>
        </div>
        <div class="row col-sm-12">
          <div [ngClass]="showCancelBtn === true?'col-sm-5':'col-sm-6'"></div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-outline-primary btn-sm waves-effect f-w-600 d-inline-block m-b-0" [disabled]="!departementForm.valid">
              <span *ngIf="createLoad === true" class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true"></span>
              <span *ngIf="updateLoad === true" class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true"></span>
              {{buttonAction}}
            </button>
            <button *ngIf="showCancelBtn === true || departementForm.dirty" type="reset" class="btn btn-outline-danger btn-sm waves-effect f-w-600 d-inline-block m-b-0 ml-2" (click)="reset()">Annuler</button>
          </div>
        </div>
      </form>
    </app-card>
    <!-- Tooltip Validation card end -->

    <!-- All Domains Start-->
    <app-card [title]="'Tous les départements'" [headerContent]="'départements enregistrés'">
      <div class="dt-responsive" *ngIf="departements">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
            <div>
              <label class="label-control">Afficher
                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                entrées
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="text-align: right;">
              <label>Rechercher:
                <input type="search" [(ngModel)]="searchText" class="form-control input-sm full-data-search" placeholder="Rechercher ici">
              </label>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered
                        full-data-table" [mfData]="departements | filter:searchText" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
            <tr>
              <th>
                <mfDefaultSorter>Actions</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter>Region</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter>Code</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter>Nom</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter>Name</mfDefaultSorter>
              </th>
            </tr>
            <tr>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="!isEmpty">
              <tr *ngFor="let item of departements | filter:searchText">
                <td class="action-icon">
                  <a href="javascript:;" class="m-r-15 crm-action-edit text-muted text-primary" (click)="fillFormBeforUpdating(item)"><i
                    class="icofont icofont-ui-edit"></i>
                  </a>
                  <a href="javascript:;" class="crm-action-delete text-muted text-danger" (click)="deleteDepartement(item.iddept)"><i
                    class="icofont icofont-delete-alt"></i>
                  </a>
                </td>
                <ng-container *ngFor="let region of regions">
                  <td *ngIf="region.idregion === item.idregion">{{region?.coderegion}}</td>
                </ng-container>
                <td>{{item.codedept}}</td>
                <td>{{item.nom}}</td>
                <td>{{item.name}}</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="isEmpty">
              <tr>
                <td colspan="5">
                  <div class="card text-center mt-3">
                    <p class="mt-5 mb-2 text-danger">Aucun enregistrement !</p><br>
                    <p class="mb-5">
                      <button type="button" class="btn btn-outline-secondary btn-sm waves-effect f-w-600 d-inline-block">
                        <i class="fa fa-refresh m-r-5"></i>rafraichir
                      </button>
                    </p>
                  </div>
                </td>
              </tr>
            </ng-container>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="6">
                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </app-card>
    <!-- All Domains End -->
  </div>
</div>
