<!--Loading-->
<div class="row col-md-12 mb-5">
    <div class="col md-5">
    </div>
    <div class="col md-7">
        <span *ngIf="loadEcsUes === true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </div>
</div>
<!--Loading-->
<div class="row" *ngIf="loadEcsUes === false">
    <div class="col-sm-12">
        <!-- Tooltip Validation card start -->
        <app-card [title]="'Enregistrement des Ec-ue'" [headerContent]="'Ec-ue enregistrés'">
            <form [formGroup]="ecUeForm" (ngSubmit)="submitAction()">
                <div class="row col-md-12">
                    <div class="col-md-6 col-xl-6">
                        <app-card [title]="'Choix des Ecs'" [cardClass]="'project-task'" [blockClass]="'p-b-10'">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="text-white">
                                            <th>&nbsp;</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-blue d-inline-block text-center">D</h6>
                                                    <label class="col-sm-2 col-form-label"><strong>Domaine :</strong></label>
                                                </div>
                                            </td>
                                            <td>
                                                <select formControlName="nomDomainForEcForm" name="nomDomainForEcForm" id="nomDomainForEcForm" class="form-control form-control" *ngIf="domaines && domaines.length > 0 " (change)="onDomainSelect($event,'yes')">
                                                <option value="">Sélectionner le domaine</option>
                                                <option *ngFor="let domain of domaines" value="{{domain.iddomaine}}">{{domain.codedomaine}} - {{domain.nom}}</option>
                                                </select>
                                                <select formControlName="nomDomainForEcForm" name="nomDomainForEcForm" id="nomDomainForEcForm" class="form-control form-control" *ngIf="!domaines || domaines.length === 0 ">
                                                    <option class="text-danger" disabled>Aucun enregistrement !</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-pink d-inline-block text-center">Sd</h6>
                                                    <label class="col-sm-2 col-form-label"><strong>Sous-domaine :</strong></label>
                                                </div>
                                            </td>
                                            <td *ngIf="sousDomainesFilteredForEcForm.length === 0">
                                                <select formControlName="nomSousDomaineForEcForm" name="nomSousDomaineForEcForm" id="nomSousDomaineForEcForm" class="form-control form-control" *ngIf="sousDomaines && sousDomaines.length > 0 " (change)="onSousDomainSelect($event,'yes')">
                                                    <option value="">Sélectionner le sous-domaine</option>
                                                    <option *ngFor="let subdomain of sousDomaines" value="{{subdomain.idsousdomaine}}" disabled>{{subdomain.codesousdomaine}} - {{subdomain.nom}}</option>
                                                </select>
                                                <select formControlName="nomSousDomaineForEcForm" name="nomSousDomaineForEcForm" id="nomSousDomaineForEcForm" class="form-control form-control" *ngIf="!sousDomaines || sousDomaines.length === 0 ">
                                                    <option class="text-danger" disabled>Aucun enregistrement !</option>
                                                </select>
                                            </td>
                                            <td *ngIf="sousDomainesFilteredForEcForm && sousDomainesFilteredForEcForm.length > 0">
                                                <select formControlName="nomSousDomaineForEcForm" name="nomSousDomaineForEcForm" id="nomSousDomaineForEcForm" class="form-control form-control" (change)="onSousDomainSelect($event,'yes')">
                                                    <option value="">Sélectionner le sous-domaine</option>
                                                    <option *ngFor="let subdomain of sousDomainesFilteredForEcForm" value="{{subdomain.idsousdomaine}}">{{subdomain.codesousdomaine}} - {{subdomain.nom}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-yellow d-inline-block text-center">F</h6>
                                                    <label class="col-sm-2 col-form-label"><strong>Filière :</strong></label>
                                                </div>
                                            </td>
                                            <td *ngIf="filieresFilteredForEcForm.length === 0">
                                                <select formControlName="filiereForEcForm" name="filiereForEcForm" id="filiereForEcForm" class="form-control form-control" *ngIf="filieres && filieres.length > 0 " (change)="onFiliereSelect($event,'yes')" required>
                                                    <option value="">Sélectionner la filière</option>
                                                    <option *ngFor="let filiere of filieres" value="{{filiere.idfiliere}}" disabled>{{filiere.codefiliere}} - {{filiere.nom}}</option>
                                                </select>
                                                <select formControlName="filiereForEcForm" name="filiereForEcForm" id="filiereForEcForm" class="form-control form-control" (change)="onFiliereSelect($event,'yes')" *ngIf="!filieres || filieres.length === 0 ">
                                                    <option class="text-danger" disabled>Aucun enregistrement !</option>
                                                </select>
                                            </td>
                                            <td *ngIf="filieresFilteredForEcForm && filieresFilteredForEcForm.length > 0">
                                                <select formControlName="filiereForEcForm" name="filiereForEcForm" id="filiereForEcForm" class="form-control form-control" (change)="onFiliereSelect($event,'yes')">
                                                    <option value="">Sélectionner la filière</option>
                                                    <option *ngFor="let filiere of filieresFilteredForEcForm" value="{{filiere.idfiliere}}">{{filiere.codefiliere}} - {{filiere.nom}}</option>
                                                </select>
                                            </td>
                                            <td *ngIf="zeroResultatFiliereForEcForm === 'rien' ">
                                                <select formControlName="filiereForEcForm" name="filiereForEcForm" id="filiereForEcForm" class="form-control form-control">
                                                    <option value="">Sélectionner la filière</option>
                                                    <option value="" disabled class="text-danger">rien à afficher</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-green d-inline-block text-center">Ec</h6>
                                                    <label class="col-sm-2 col-form-label"><strong>Ec :</strong></label>
                                                </div>
                                            </td>
                                            <td>
                                                <select formControlName="eec" name="eec" id="eec" class="form-control form-control" *ngIf="ecs && ecs.length > 0 " (change)="onEcSelect($event)">
                                                    <option value="">Sélectionner l'ec</option>
                                                    <option *ngFor="let ec of ecs" value="{{ec.idec}}">{{ec.codeec}} - {{ec.nom}}</option>
                                                </select>
                                                <select formControlName="eec" name="eec" id="eec" class="form-control form-control" *ngIf="!ecs || ecs.length === 0 ">
                                                    <option class="text-danger" disabled>Aucun enregistrement !</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </app-card>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <app-card [title]="'Choix des Ues'" [cardClass]="'project-task'" [blockClass]="'p-b-10'">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="text-white">
                                            <th>&nbsp;</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-blue d-inline-block text-center">D</h6>
                                                    <label class="col-sm-2 col-form-label"><strong>Domaine :</strong></label>
                                                </div>
                                            </td>
                                            <td>
                                                <select formControlName="nomDomain" name="nomDomain" id="nomDomain" class="form-control form-control" *ngIf="domaines && domaines.length > 0 " (change)="onDomainSelect($event)">
                                                <option value="">Sélectionner le domaine</option>
                                                <option *ngFor="let domain of domaines" value="{{domain.iddomaine}}">{{domain.codedomaine}} - {{domain.nom}}</option>
                                                </select>
                                                <select formControlName="nomDomain" name="nomDomain" id="nomDomain" class="form-control form-control" *ngIf="!domaines || domaines.length === 0 ">
                                                    <option class="text-danger" disabled>Aucun enregistrement !</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-pink d-inline-block text-center">Sd</h6>
                                                    <label class="col-sm-2 col-form-label"><strong>Sous-domaine :</strong></label>
                                                </div>
                                            </td>
                                            <td *ngIf="sousDomainesFiltered.length === 0">
                                                <select formControlName="nomSousDomaine" name="nomSousDomaine" id="nomSousDomaine" class="form-control form-control" *ngIf="sousDomaines && sousDomaines.length > 0 " (change)="onSousDomainSelect($event)">
                                                    <option value="">Sélectionner le sous-domaine</option>
                                                    <option *ngFor="let subdomain of sousDomaines" value="{{subdomain.idsousdomaine}}" disabled>{{subdomain.codesousdomaine}} - {{subdomain.nom}}</option>
                                                </select>
                                                <select formControlName="nomSousDomaine" name="nomSousDomaine" id="nomSousDomaine" class="form-control form-control" *ngIf="!sousDomaines || sousDomaines.length === 0 ">
                                                    <option class="text-danger" disabled>Aucun enregistrement !</option>
                                                </select>
                                            </td>
                                            <td *ngIf="sousDomainesFiltered && sousDomainesFiltered.length > 0">
                                                <select formControlName="nomSousDomaine" name="nomSousDomaine" id="nomSousDomaine" class="form-control form-control" (change)="onSousDomainSelect($event)">
                                                    <option value="">Sélectionner le sous-domaine</option>
                                                    <option *ngFor="let subdomain of sousDomainesFiltered" value="{{subdomain.idsousdomaine}}">{{subdomain.codesousdomaine}} - {{subdomain.nom}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-yellow d-inline-block text-center">F</h6>
                                                    <label class="col-sm-2 col-form-label"><strong>Filière :</strong></label>
                                                </div>
                                            </td>
                                            <td *ngIf="filieresFiltered.length === 0">
                                                <select formControlName="filiere" name="filiere" id="filiere" class="form-control form-control" *ngIf="filieres && filieres.length > 0 " (change)="onFiliereSelect($event)" required>
                                                    <option value="">Sélectionner la filière</option>
                                                    <option *ngFor="let filiere of filieres" value="{{filiere.idfiliere}}" disabled>{{filiere.codefiliere}} - {{filiere.nom}}</option>
                                                </select>
                                                <select formControlName="filiere" name="filiere" id="filiere" class="form-control form-control" (change)="onFiliereSelect($event)" *ngIf="!filieres || filieres.length === 0 ">
                                                    <option class="text-danger" disabled>Aucun enregistrement !</option>
                                                </select>
                                            </td>
                                            <td *ngIf="filieresFiltered && filieresFiltered.length > 0">
                                                <select formControlName="filiere" name="filiere" id="filiere" class="form-control form-control" (change)="onFiliereSelect($event)">
                                                    <option value="">Sélectionner la filière</option>
                                                    <option *ngFor="let filiere of filieresFiltered" value="{{filiere.idfiliere}}">{{filiere.codefiliere}} - {{filiere.nom}}</option>
                                                </select>
                                            </td>
                                            <td *ngIf="zeroResultatFiliere === 'rien' ">
                                                <select formControlName="filiere" name="filiere" id="filiere" class="form-control form-control">
                                                    <option value="">Sélectionner la filière</option>
                                                    <option value="" disabled class="text-danger">rien à afficher</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-green d-inline-block text-center">Ue</h6>
                                                    <label class="col-sm-2 col-form-label"><strong>Ue :</strong></label>
                                                </div>
                                            </td>
                                            <td>
                                                <select formControlName="uue" name="uue" id="uue" class="form-control form-control" *ngIf="ues && ues.length > 0 " (change)="onUeSelect($event)">
                                                    <option value="">Sélectionner l'ue</option>
                                                    <option *ngFor="let ue of ues" value="{{ue.idue}}">{{ue.codeue}} - {{ue.nom}}</option>
                                                </select>
                                                <select formControlName="uue" name="uue" id="uue" class="form-control form-control" *ngIf="!ues || ues.length === 0 ">
                                                    <option value="">Sélectionner l'ue</option>
                                                    <option class="text-danger" disabled>Aucun enregistrement !</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </app-card>
                    </div>
                </div>
                <app-card [cardClass]="'project-task'" [blockClass]="'p-b-10'">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-white">
                                    <th>Définir le crédit et l'année</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="task-contain">
                                            <h6 class="bg-c-blue d-inline-block text-center">C</h6>
                                            <label class="col-sm-2 col-form-label"><strong>Crédit :</strong></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-12">
                                            <input class="form-control tooltip-form" type="number" min="1" id="creditEc" formControlName="creditEc" name="creditEc" placeholder="Entrez le credit de l'ec" />
                                            <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Le creditEc ne peut être vide." *ngIf="ecUeForm.controls.creditEc.errors?.required"><i class="text-danger icofont
                                                    icofont-close-circled"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="task-contain">
                                            <h6 class="bg-c-pink d-inline-block text-center">A</h6>
                                            <label class="col-sm-2 col-form-label"><strong>Année :</strong></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-12">
                                            <input class="form-control tooltip-form" type="month" id="annee" formControlName="annee" name="annee" placeholder="Entrez l'année" />
                                            <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="L'année ne peut être vide." *ngIf="ecUeForm.controls.annee.errors?.required"><i class="text-danger icofont
                                                    icofont-close-circled"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </app-card>
                <!-- <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><strong>Crédit :</strong></label>
                    <div class="col-sm-10">
                        <input class="form-control tooltip-form" type="number" min="1" id="creditEc" formControlName="creditEc" name="creditEc" placeholder="Entrez le credit de l'ec" />
                        <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Le creditEc ne peut être vide." *ngIf="ecUeForm.controls.creditEc.errors?.required"><i class="text-danger icofont
                                icofont-close-circled"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><strong>Année :</strong></label>
                    <div class="col-sm-10">
                        <input class="form-control tooltip-form" type="month" id="annee" formControlName="annee" name="annee" placeholder="Entrez l'année" />
                        <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="L'année ne peut être vide." *ngIf="ecUeForm.controls.annee.errors?.required"><i class="text-danger icofont
                                icofont-close-circled"></i>
                        </div>
                    </div>
                </div> -->
                <div class="row col-sm-12">
                    <div [ngClass]="showCancelBtn === true?'col-sm-5':'col-sm-6'"></div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-outline-primary btn-sm waves-effect f-w-600 d-inline-block m-b-0" [disabled]="!ecUeForm.valid">
                        <span *ngIf="createLoad === true"
                          class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true">
                        </span>
                        <span *ngIf="updateLoad === true"
                          class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true">
                        </span>
                        {{buttonAction}}
                      </button>
                        <button *ngIf="showCancelBtn === true || ecUeForm.dirty" type="reset" class="btn btn-outline-danger btn-sm waves-effect f-w-600 d-inline-block m-b-0 ml-2" (click)="reset()">Annuler</button>
                    </div>
                </div>
            </form>
        </app-card>
        <!-- Tooltip Validation card end -->

        <!-- All classes Start-->
        <app-card [title]="'Toutes les Ec-ue'" [headerContent]="'Ec-ue enregistrés'">
            <div class="dt-responsive" *ngIf="ecsUes">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                        <div>
                            <label class="label-control">Afficher
                                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">100</option>
                                </select>
                                entrées
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div style="text-align: right;">
                            <label>Rechercher:
                                <input type="search" [(ngModel)]="searchText" class="form-control input-sm full-data-search" placeholder="Rechercher ici">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-hover">
                    <table class="table table-striped table-bordered full-data-table" [mfData]="ecsUes | filter:searchText" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter>Actions</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter>Ue</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter>Ec</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter>Créditec</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter>Année</mfDefaultSorter>
                                </th>
                            </tr>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="!isEmpty">
                                <tr *ngFor="let item of mf.data | filter:searchText">
                                    <td class="action-icon">
                                        <a href="javascript:;" class="m-r-15 crm-action-edit text-muted text-primary" (click)="fillFormBeforUpdating(item)"><i
                                        class="icofont icofont-ui-edit"></i></a>
                                        <a href="javascript:;" class="crm-action-delete text-muted text-danger" (click)="deleteEcUe(item)"><i
                                        class="icofont icofont-delete-alt"></i></a>
                                    </td>
                                    <ng-container *ngFor="let ue of ues">
                                        <td *ngIf="ue.idue === item.idue">{{ue.nom}} ({{ue.name}})</td>
                                    </ng-container>
                                    <ng-container *ngFor="let ec of ecs">
                                        <td *ngIf="ec.idec === item.idec">{{ec.nom}} ({{ec.name}})</td>
                                    </ng-container>
                                    <td>{{item.creditec}}</td>
                                    <td>{{item.annee}}</td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="isEmpty">
                                <tr>
                                    <td colspan="6">
                                        <div class="card text-center mt-3">
                                            <p class="mt-5 mb-2 text-danger">Aucun enregistrement !</p><br>
                                            <p class="mb-5">
                                                <button type="button" class="btn btn-outline-secondary btn-sm waves-effect f-w-600 d-inline-block">
                                                    <i class="fa fa-refresh m-r-5"></i>rafraichir
                                                </button>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </app-card>
        <!-- All classes End -->
    </div>
</div>
